.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.explore-menu h1 {
    color: tomato;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15), 
    0px 4px 8px rgba(0, 0, 0, 0.25);  
}

.explore-menu-text {
    max-width: 60%;
    color: #808080;
    
}

.explore-menu-list {
    display: flex;
    gap: 30px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list-item img {
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.explore-menu-list-item p {
    cursor: pointer;
    margin-top: 10px;
    color: #747474;
    /* color: #676767; */
    font-size: max(1.4vw, 16px);
}

hr{
    background: #e2e2e2;
    margin: 10px 0px;
    height: 2px;
    border: none;
}

.explore-menu-list-item .active{
    border: 2px solid tomato;
    padding: 2px;
}

@keyframes scrollHorizontal {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


@media (max-width: 1080px) {
    

    .explore-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .explore-menu h1 {
        color: tomato;
        font-weight: 300;
        font-size: 20px;
        /* letter-spacing: 1.5px; */
    }

    .explore-menu-text {
        max-width: 100%;
        color: #808080;
        font-size: 1.5vh;
    }
}